html{
	background-color:#2F2F2F;
}

body{
	height: 100%;
	background-color:rgb(245, 245, 245);
}

#header {
    margin-left:20%;
    top: 0px;
    width: 80%;
	height: 20%;
	position: fixed;
	font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
    background-color: #272727;
    border-bottom: 2px solid hsl(180,70%,55%);
    padding-top:20px;
    text-align:center;
}

#footer {
	left: 0px;
    bottom: 0px;
    width: 100%;
	/* height: 10%; */
	position: fixed;
	font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 1.0em;
    color: #fff;
    z-index: 15;
   /*  text-transform: uppercase; */
    background-color: #272727;
	padding:1% 0%;
    text-align:center;
}


#sidemenu {
    width: 13%;
    /* background-color:#2B2B2B; */
    height: 94.2%;
    overflow: auto;
    float: left;
    z-index: 20;
    /* position: fixed; */
    left: 0px;
}

#sidemenu #menu {
    color: #fff;
    text-align: right;
    list-style-type: none;
    margin-right: 40px;
    float: right;
}

#sidemenu #menu li {
    width: 150px;
    height: 35px;
    font-size: 1.2em;
    padding-right:5px;
}

#sidemenu #menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#sidemenu #menu li:active{
	border-left: 5px solid hsl(180,70%,55%);
}

#sidemenu #menu li:hover {
    background-color: #635555;
    border-left: 5px solid hsl(180,70%,55%);
}

.logo{
	float:left;
}

#site-content {
    width: 80%;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    min-height: 600px;
    margin-top:2%;
    margin-bottom:2%;
    margin-left:13%;
    padding-left:10px;
}
    
