.col-header {
    padding: 1rem;
    background-color: #626E7E;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}

.update{
	background-color: #c8cdd4
}

.view{
	background-color: #c8cdd4;
	display: inline;
}

.edit {
	background-color: #d1d5db
}

.icon-lock {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.icon-lock .lock-top-1 {
  width: 40%;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 14%;
  background-color: #000;
  border-radius: 40%;
}

.icon-lock .lock-top-2 {
  width: 24%;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -12%;
  top: 22%;
  background-color: #fff;
  border-radius: 25%;
}

.icon-lock .lock-body {
  width: 60%;
  height: 48%;
  position: absolute;
  left: 50%;
  margin-left: -30%;
  bottom: 11%;
  background-color: #000;
  border-radius: 15%;
}

.icon-lock .lock-hole {
  width: 16%;
  height: 16%;
  position: absolute;
  left: 50%;
  margin-left: -8%;
  top: 51%;
  border-radius: 100%;
  background-color: #fff;
}

.icon-lock .lock-hole:after {
  content: "";
  width: 43%;
  height: 78%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 100%;
  background-color: inherit;
}